@charset "UTF-8";
/*-------------------------
        R E S E T
-------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, ol {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

* {
  outline: none;
}

/*-------------------------
         I N I T
-------------------------*/
@media (min-width: 768px) {
  html {
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
  }
}
* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  color: #444;
  font-family: Arial, "微軟正黑體", "Microsoft JhengHei";
  font-size: 100%;
  line-height: 160%;
}

body {
  -webkit-text-size-ajust: 100%;
  font-size: 1rem;
  font-size: 16px \9;
}
body.of-h {
  overflow: hidden;
}

.pc-block {
  display: block !important;
}

.m-inline-b {
  display: none !important;
}

.hidden {
  display: none !important;
}

.clear {
  clear: both;
  display: block;
}

.float {
  float: left;
}

.float-r {
  float: right;
}

.cursor {
  cursor: pointer;
}

.inline-b {
  display: inline-block !important;
}

.block {
  display: block !important;
}

.ta-l {
  text-align: left !important;
}

.ta-r {
  text-align: right !important;
}

.center {
  text-align: center !important;
}

.va-top {
  vertical-align: top !important;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
  font-style: normal;
}

.pos-r {
  position: relative;
}

.m-auto {
  margin: 0 auto;
}

.mt--15 {
  margin-top: -15px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.mr-10 {
  margin-right: 10px;
}

.p-0 {
  padding: 0 !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.w-10p {
  width: 10% !important;
}

.w-15p {
  width: 15% !important;
}

.w-20p {
  width: 20% !important;
}

.w-25p {
  width: 25% !important;
}

.w-30p {
  width: 30% !important;
}

.w-35p {
  width: 35% !important;
}

.w-40p {
  width: 40% !important;
}

.w-45p {
  width: 45% !important;
}

.w-50p {
  width: 50% !important;
}

.w-55p {
  width: 55% !important;
}

.w-60p {
  width: 60% !important;
}

.w-65p {
  width: 65% !important;
}

.w-70p {
  width: 70% !important;
}

.w-75p {
  width: 75% !important;
}

.w-80p {
  width: 80% !important;
}

.w-85p {
  width: 85% !important;
}

.w-90p {
  width: 90% !important;
}

.w-95p {
  width: 95% !important;
}

.w-100p {
  width: 100% !important;
}

.f12 {
  font-size: 0.75rem;
  font-size: 12px \9;
  line-height: 18px;
}

.f13 {
  font-size: 0.813rem;
  font-size: 13px \9;
}

.f15 {
  font-size: 0.9375rem;
  font-size: 15px \9;
}

.f18 {
  font-size: 1.125rem;
  font-size: 18px \9;
}

.f20 {
  font-size: 1.25rem;
  font-size: 20px \9;
}

.f24 {
  font-size: 1.5rem;
  font-size: 24px \9;
}

@media screen and (max-width: 960px) {
  .pc-block {
    display: inline-block !important;
  }

  .m-inline-b {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .mobile {
    display: block !important;
  }

  .pc {
    display: none !important;
  }

  .m-block {
    display: block;
  }

  .m-v-a-t {
    vertical-align: top;
  }

  .m-w-100 {
    width: 100% !important;
  }
}

/*# sourceMappingURL=frame.css.map */
